
<div class="container">
<div class="row">

    <mat-card class="home-thumbnail">
 
        <mat-card-header class="home-header">
            <mat-card-title class="homeTitle" >Welcome to CPlayer</mat-card-title>
            <mat-card-subtitle>Login or register to see players</mat-card-subtitle>
        </mat-card-header>
        
        <img class="home-image" mat-card-image src="assets/image.png">
        <mat-card-actions class="home-actions"> 
        
            <button class="login-user"  mat-raised-button [routerLink]="['/login']" color="primary">Login</button>
            <button class="register-button" mat-raised-button [routerLink]="['/register']" color="primary" >Register</button>
         
        
        </mat-card-actions>
      </mat-card>
   
  </div>
</div>

