<mat-card class="player-thumbnail">
 
  <mat-card-header class="player-header">
      <mat-card-title class="playerTitle">{{player?.fullName}}</mat-card-title>
      <mat-card-subtitle>{{player?.pid}}</mat-card-subtitle>
  </mat-card-header>
  
  <img class="movie-image" mat-card-image [src]="player?.image_path" [alt]="player.name">
  <mat-card-actions class="player-actions"> 
  
  <button class="addButton" *ngIf="!useFavouriteListApi" mat-raised-button color="primary" (click)="addToFavouriteList()" >Add to favoritelist</button>
  <button *ngIf="useFavouriteListApi" mat-raised-button color="primary" (click)="deleteFromFavouriteList()" >Delete</button>
  <button  mat-raised-button color="primary" (click)="updateFromWatchList('update')" align="end">ViewStats</button>

  </mat-card-actions>
</mat-card>
